body {
  height: 100vh;
}

header {
  height: 10vh;
}

any-navbar{
  display: block;
  margin-top: 10vh !important;
}

main {
  box-sizing: border-box;
  height: 70vh;
}

main.lecture{
  height: 95vh;
}

footer {
  box-sizing: border-box;
  height: 20vh;
  padding: 50px 0;
}
