<app-layout-default title="Atlas HomePage">
    
    <ng-container class="layout-header">
        HEADER CONTENT
    </ng-container>



    <ng-container>
        <h1>MAIN CONTENT</h1>

        <code>{{dispatcher.state$ | async | json}}</code>

        <img src="https://picsum.photos/200/200" anyPopin [popinDelay]="1000">
        <img src="https://picsum.photos/200/200?123" anyPopin [popinDelay]="2000">
        <img src="https://picsum.photos/200/200?456" anyPopin [popinDelay]="3000">

        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde impedit distinctio, molestiae dolor dolorem
            ab ut ipsum error quaerat doloremque perspiciatis nostrum amet nobis earum, suscipit voluptates quod?
            Voluptate, sunt?
        </p>
    </ng-container>

    <ng-container class="layout-footer">
        FOOTER CONTENT
    </ng-container>


</app-layout-default>